{% extends 'base.html.twig' %}

{% block body %}
    <div class="album">
        <img src="data:image/jpeg;base64,{{ album.pochette }}">
        <div class="infos">
            <h3>{{ album.titreAlbum }} ({{ album.anneeAlbum }})</h3>
            <small>
                Artistes :
                {% set ok = 0 %}
                {% for artiste in album.artists(doctrine) %}
                    {% set ok = 1 %}
                    <a class="artist_link" href="{{ path('showArtist', {'codeArtiste': artiste.codeMusicien}) }}">
                        {{ artiste.prenomMusicien }} {{ artiste.nomMusicien }}
                    </a>,
                {% endfor %}
                {% if not ok %}Aucun artiste connu{% endif %}
            </small>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style>
        .album
        {
            display: flex;
        }
        .album img
        {
            width: 400px;
            padding-right: 20px;
            border-right: 2px solid #555555;
            margin-right: 20px;
        }
        .album .infos
        {
            display: flex;
            flex-direction: column;
        }
        a.artist_link, a.artist_link:hover
        {
            color: #0088CC;
            text-decoration: underline;
        }
    </style>
{% endblock %}