<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" href="{{ asset('img/favicon.png') }}" />

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">

        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/hint.css') }}">
        <style>
            html { background: url("{{ asset('img/bg.png') }}") fixed; }
            .box { width: {{ box_width|default('50%') }}; }
        </style>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>

        <nav class="navbar navbar-inverse" style="margin-bottom: 0">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-container-collapse" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ path('homepage') }}">Alib'Album</a>
                </div>
                <div class="collapse navbar-collapse" id="navbar-container-collapse">
                    <ul class="nav navbar-nav">
                        <li class="{{ app.request.get('_route') == 'homepage' ? 'active' }}"><a href="{{ path('homepage') }}">Accueil</a></li>
                        <li class="{{ app.request.get('_route') == 'artists' ? 'active' }}"><a href="{{ path('artists') }}">Artistes</a></li>
                        <li class="{{ app.request.get('_route') == 'albums' ? 'active' }}"><a href="{{ path('albums') }}">Albums</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="{{ app.request.get('_route') == 'about' ? 'active' }}" style="margin-right: 10px"><a href="{{ path('about') }}">A Propos</a></li>
                        {% if app.user %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" role="button" id="account-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>  {{ app.user.prenomAbonne }} {{ app.user.nomAbonne }}
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{{ path('ownedTracks') }}"><span class="glyphicon glyphicon-music"></span> Voir mes morceaux</a></li>
                                    <li><a href="{{ path('cart') }}"><span class="glyphicon glyphicon-shopping-cart"></span> Voir mon panier</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="{{ path('logout') }}"><span class="text-danger">Se déconnecter <span class="glyphicon glyphicon-log-out" aria-hidden="true"></span></span></a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li><button class="btn btn-success navbar-btn" onclick="location.href='{{ path('login') }}'">Connexion <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span></button></li>
                            <li><button class="btn btn-info navbar-btn" onclick="location.href='{{ path('register') }}'">Inscription</button></li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>

        </nav>

        <div class="container">
            <h1 class="text-center title">{{ page_head }}{% if page_head_small is defined %} | <small>{{ page_head_small }}</small>{% endif %}</h1>
            <hr class="center">
            <div class="content">
                <div class="box">
                    <h2>{{ box_head }}</h2>
                    <hr class="left">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div><!-- /.container -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>